body {
    background-image: url(./images/bible.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header h1 {
    color: gold;
    text-align: center;
    font-size: 70px;
    margin-top: 50px;
    padding-top: 70px;
}
.banner {
    width: 200px;
    height: 200px;
    float:right;
    padding-top: 1px;
    margin-right: 100px;
}
.post {
    color: rgba(255, 255, 0, 0.4);
    font-size: 25px;
}
.entry {
    color: rgba(247, 7, 118,.4);
    font-size: 25px;
}
b {
    color: rgba(255, 255, 0, 0.4);
}
footer p {
    color: darkblue;
}